<div class='flipper'>
	<div class='card front'>
		{{markdown-section content=card.front options=markdownOptions}}
	</div>

	<div class='card back'>
		{{markdown-section content=card.back options=markdownOptions}}
	</div>
</div>
