<form class="new_card" {{on "submit" (prevent-default this.create)}}>
  <fieldset>
    <label for="front">Front</label>
    <Textarea @value={{this.front}} id="front" />

    <label for="back">Back</label>
    <Textarea @value={{this.back}} id="back" />

    <div>
      <button type="submit" class="btn btn-primary" disabled={{this.submitButtonDisabled}}>
        Create
      </button>
    </div>
  </fieldset>
</form>
