<CardForm @card={{@model}} @submitLabel="Create" @onSave={{this.onSave}}>
  <div class="ms-2">
    <label for="add-more" class="form-check-label">Add another?</label>
    {{! template-lint-disable no-builtin-form-components }}
    <Input
      @type="checkbox"
      @checked={{this.addAnother}}
      id="add-more"
      name="add-more"
      class="form-check-input"
    />
    {{! template-lint-enable no-builtin-form-components }}
  </div>
</CardForm>