<CardForm @card={{@model}} @submitLabel="Create" @onSave={{this.onSave}}>
  <div class="ms-2">
    <label for="add-more" class="form-check-label">Add another?</label>
    <Input @type="checkbox" @checked={{this.addAnother}} id="add-more" name="add-more" class="form-check-input" />
  </div>
</CardForm>
