<form class='new_card' {{on 'submit' this.create}} >
  <fieldset>
    <label for='front'>Front</label>
    <Textarea @value={{this.front}} id='front' />

    <label for='back'>Back</label>
    <Textarea @value={{this.back}} id='back' />

    <div>
      <button type='submit' class='btn btn-default'>
        Create
      </button>
    </div>
  </fieldset>
</form>
