<h1>Choose a collection:</h1>

<ul>
  {{#each @model as |collection|}}
    <li data-test-collection>
      <LinkTo @route="collections.show" @model={{collection.slug}}>
        {{collection.name}}
      </LinkTo>
    </li>
  {{/each}}
</ul>
