{{#bs-navbar as |navbar|}}
	<div class='navbar-header'>
		{{#link-to 'index' class='navbar-brand'}}
			Home
		{{/link-to}}
	</div>
	{{#navbar.content}}
		{{#navbar.nav as |nav|}}
			{{#nav.item}}
				{{#nav.link-to 'cards.new'}}
					New
				{{/nav.link-to}}
			{{/nav.item}}

			{{#nav.dropdown as |dd|}}
				{{#dd.toggle}}
					Random
				{{/dd.toggle}}
				{{#dd.menu as |menu|}}
					{{#menu.item}}
						{{#menu.link-to 'cards.random' (query-params side='front')}}
							Random front
						{{/menu.link-to}}
					{{/menu.item}}
					{{#menu.item}}
						{{#menu.link-to 'cards.random' (query-params side='back')}}
							Random back
						{{/menu.link-to}}
					{{/menu.item}}
					{{#menu.item}}
						{{#menu.link-to 'cards.random' (query-params side='')}}
							Random front or back
						{{/menu.link-to}}
					{{/menu.item}}
				{{/dd.menu}}
			{{/nav.dropdown}}

			{{#nav.item}}
				{{#nav.link-to 'card-sets.new'}}
					New set
				{{/nav.link-to}}
			{{/nav.item}}
		{{/navbar.nav}}
	{{/navbar.content}}
{{/bs-navbar}}

<div class='container'>
	<div class='row'>
		<div class='col-md-12'>
			{{outlet}}
		</div>
	</div>
</div>
